/* ORIGINAL CSS FILE BEFORE MINIFY/CLEAN CSS */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.nav-link {
    font-size: 12.5px;
    font-weight: 400;
    font-family: 'Roboto';
}


/* allows usage of Roboto font */
font-family: 'Roboto',
sans-serif;

/* from bootstrap offical documentation - none of the items' divs will grow more than another */

#navbar-content {
    flex-grow: 0 !important;
}

/* logo 7rem looks like the screenshot provided in desktop view */

.pertemps-image {
    width: 7rem;
}

/* logo container div positoning */

.navbar-brand {
    padding-left: 120px;
}

/* !important to override the bootstrap css, so we get specific with selectors */
nav .navbar-collapse .navbar-nav li a {
    color: var(--dark) !important;

}


nav,
#navbar-content {
    max-width: 1800px;
}

/* positioning of the li elements */

.nav-item {
    padding: 5px 20px;
    margin: 5px 0px;
}

/* when hovering over an anchor tag, 1px is formed by the border appearing, but we take away 
   a pixel from the margin to counteract this, making next gain of pixels on the div 0. */
.nav-link:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

/* setting a max-width artifically forces a break of the sentence at every sensible screen size.  */

.image-text {
    color: white;
    max-width: 350px;
}

/* gets the image in the background and allows it to be progressive */

.image-container {
    max-width: 100vw;
    height: 30rem;
    max-height: 350px;
    justify-content: center;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center center;
    border-bottom: #ffffff 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/* uses box-shadow for gradient effect */
.intense-shadow {
    width: 100%;
    /*        height: 300px;
      background-color: red;*/
    -webkit-box-shadow: 0px -20px 1000px 90px rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 0px -20px 1000px 90px rgba(255, 255, 255, 0.97);
    box-shadow: 0px -20px 1000px 90px rgba(255, 255, 255, 0.97);
    /* https://www.cssmatic.com/box-shadow -- for reference / updating shadow. */

}

/* card positioning / card box-shadow / bottom border showing & colour */


.card {
    width: 20rem;
    margin: 20px 10px 10px 10px;
    border: solid 0.5px #A0A0A0;
    -webkit-box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    height: 20rem;
}

.card-title {
    text-align: center;
    white-space: initial;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.51rem;
    padding-bottom: 5px;
}

.card-right {
    border-bottom: blue 1px solid;
}

.card-mid {
    border-bottom: green 1px solid;
}

.card-left {
    border-bottom: red 1px solid;
}

/* adds a small gap between text, otherwise it looks cramped */

.card-text {
    margin-bottom: 0.5rem;
}

/* min-height forces text to be same level regardless of job title text, margin is for spacing */

.card-heading {
    min-height: 5rem;
    margin-bottom: 1rem;
}

/* positioning of the cards in the row, removed the margins of bootstrap default as they made it annoyingly
   off-center */

.row.card-row {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.btn.btn-primary,
.card-text {
    font-size: 0.75rem;
    font-family: 'Roboto';
    font-weight: 400;
}

/* changes the justify-content of the nav and navbar-content at 992 pixels wide or less */

@media (min-width: 992px) {

    /*specificity of nav element and important value needed to override bootstrap class*/
    nav,
    #navbar-content {
        justify-content: space-around !important;
    }
}