/* ORIGINAL CSS FILE BEFORE MINIFY/CLEAN CSS */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.nav-link {
    font-size: 12.5px;
    font-weight: 400;
    font-family: 'Roboto';
}

/* allows usage of Roboto font */
font-family: 'Roboto',
sans-serif;


/* from bootstrap offical documentation */
#navbar-content {
    flex-grow: 0 !important;
}

.pertemps-image {
    width: 7rem;
}

.navbar-brand {
    padding-left: 120px;
}

/* !important to override the bootstrap css */
nav .navbar-collapse .navbar-nav li a {
    color: var(--dark) !important;

}


nav,
#navbar-content {
    max-width: 1800px;
    /*      border:solid 1px black;*/
}

/* text in image goes here  */

.image-text {
    color: white;
    max-width: 350px;
}

/* gets the image in the background and allows it to be relative */

.image-container {
    max-width: 100vw;
    height: 30rem;
    max-height: 350px;
    justify-content: center;
    /*  background-image: linear-gradient(#eb01a500, #ffffff), url(assets/background.jpg);*/
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center center;
    /*  background: linear-gradient(to bottom, white 10%, white 30%, white 60%, white 100%);
  opacity: .5;*/
    border-bottom: #ffffff 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* h1 tag banner text for image */

/*.imageText>h1 {
  max-width
}
*/
/* uses box-shadow for gradient effect */
.intense-shadow {
    width: 100%;
    /*        height: 300px;
      background-color: red;*/
    -webkit-box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    /* https://www.cssmatic.com/box-shadow -- for reference / updating shadow. */

}

.shadow {
    width: 100%;
    /*        height: 300px;
      background-color: red;*/
    -webkit-box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    box-shadow: 0px -37px 108px 65px rgba(255, 255, 255, 0.97);
    /* https://www.cssmatic.com/box-shadow -- for reference / updating shadow. */

}

/*.cardFeather{
  width: 100%;
  height: 0px;
  /*box-shadow: 20px 0px 0px 0px #ffffff;*/

/*-webkit-box-shadow: 0px 0px 15px 6px rgba(250,250,250,1);
-moz-box-shadow: 0px -5px 15px 6px rgba(250,250,250,1);
box-shadow: 0px -5px 15px 6px rgba(250,250,250,1);
}
*/

/* card positioning / card box-shadow / bottom border showing & colour */


.card {
    width: 20rem;
    margin: 20px 10px 10px 10px;
    border: solid 0.5px #A0A0A0;
    -webkit-box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    box-shadow: -10px 10px 29px -13px rgba(0, 0, 0, 0.3);
    height: 20rem;
}

.card-title {
    text-align: center;
    white-space: initial;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.51rem;
    padding-bottom: 5px;
}

.card-right {
    border-bottom: blue 1px solid;
}

.card-mid {
    border-bottom: green 1px solid;
}

.card-left {
    border-bottom: red 1px solid;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-heading {
    min-height: 5rem;
    margin-bottom: 1rem;
}

.btn.btn-primary,
.card-text {
    font-size: 0.75rem;
    font-family: 'Roboto';
    font-weight: 400;
}


.nav-item {
    padding: 5px 20px;
    margin: 5px 0px;
}


.nav-link:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.row.card-row {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}




@media (min-width: 992px) {

    /*specificity of nav element and important value needed to override bootstrap class*/
    nav,
    #navbar-content {
        justify-content: space-around !important;
    }
}